{% extends "base_customer.html" %}
{% block content %}


<!-- 'Account' button can take user to "/customer_account url", and also include how to display ">"" and  "Personal Info"  -->
<div>
    <div style="margin-top:10px;margin-bottom:10px;margin-left:200px;;margin-right:10px;">
        <nav aria-label="Account">
            <ol class="_1ckj08w">
                <li class="_36rlri">
                    <span class="_lnlh4ma">
                        <a href="/customer_account" class="_sgg9wmi" aria-busy="false">
                            Account
                        </a>
                    </span>
                </li>
                <li class="_36rlri">
                    <div class="_36rlri" style="margin-left:16px;margin-right:16px">
                        <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height:10px;width:10px;fill:#767676">
                            <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <span aria-current="step" class="_lnlh4ma">
                        Personal info
                    </span>
                </li>
            </ol>
        </nav>
        <div style="margin-top:12px">
            <h1 tabindex="-1" elementtiming="LCP-target" class="_14i3z6h">
                <div class="_1r4z82it">
                    Personal info
                </div>
            </h1>
        </div>

    </div>
    

    <!-- this edit form inculdes 5 edit buttons and user may edit one infomation at one time. -->

    <div class="personalInfo">
        <div class="ViewpersonalInfo"> 
            <div class="editContent"><strong>Username: </strong>{{user.username}}</div><br>
            <div class="editContent"><strong>First Name: </strong>{{customer.c_fName}}</div><br>
            <div class="editContent"><strong>Last Name: </strong>{{customer.c_Lname}} </div><br>
            <div class="editContent"><strong>Email Address: </strong>{{user.email}} </div><br>
            <div class="editContent"><strong>Phone Number: </strong>{{customer.phone_num}} </div><br>
            <div class="editContent"><strong>Address: </strong>{{customer.address}} </div><br>
            <div class="editContent">
                <button  class="btn btn-outline-primary" onclick="toggleForm('editForm')">Edit</button>
            </div>
        </div>
        <div class="EditpersonalInfo">  
            <form id="editForm" class="editForm" action="{{ url_for('customerProfile') }}" method="POST" style="display: none;">
                <div class="editContent">
                    <input type="text" id="username" name="username" value="{{user.username}}">
                </div>
                <br>
                <div class="editContent">
                    <input type="text" max=45 id="Fname" name="Fname" value="{{customer.c_fName}}">
                </div>
                <br>
                <div class="editContent">
                    <input type="text" max=45 id="Lname" name="Lname" value="{{customer.c_Lname}}">
                </div>
                <br>
                <div class="editContent">
                    <input type="email" max=225 id="Email" name="Email" value="{{user.email}}" disabled>
                    <input type="hidden" id="email" name="email" value="{{user.email}}">
                </div>
                <br>
                <div class="editContent">
                    <input type="tel" id="phone" name="phone" value="{{customer.phone_num}}">
                </div>
                <br>
                <div class="editContent">
                    <input type="text" id="address" name="address" value="{{customer.address}}">
                </div>
                <br>
                <div class="submitBtn">
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                <div>
            </form>
        </div>
    </div>
</div>

 
<!-- javascript codes to including -->
<script>
    function toggleForm(formId) {
        var editForm = document.getElementById(formId);
        editForm.style.display = (editForm.style.display === 'none') ? 'block' : 'none';
    }
</script>

 
<!-- check .css file link -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/customer_account.css') }}">

{% endblock %}