
{% extends "base_staff.html" %}
{% block content %}


<form action="{{ url_for('staff_editProfile') }}" method="POST" class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-body">
          <div class="row">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif %}	
            <div class="col-12">
                <a href="{{ url_for('staffProfile') }}" class="btn btn-success">Back</a>
            </div>
            <div class="form-group col-md-12">
                <label for="username">Username: </label>
                <input type="text"  max=45 class="form-control" id="username" name="username" value="{{user.username}}">
            </div>
              <br>
              <div class="form-group col-md-12">            
                <label for="Fname">First Name: </label>
                <input type="text" max=45 class="form-control" id="Fname"  name="Fname" value="{{staff.s_fName}}">
              </div>
              <div class="form-group col-md-12">
                <label for="Lname">Last Name: </label>
                <input type="text" max=45 class="form-control" id="Lname" name="Lname" value="{{staff.s_Lname}}">
              </div>
              <div class="form-group col-md-12">
                <label for="email">Email address: </label>
                <input type="email" max=225 class="form-control" id="email" name="email" value="{{staff.email}}">
              </div>
              <div class="form-group col-md-12">
                <label for="phone">Phone Number: </label>
                <input type="tel" id="phone" name="phone" value="{{staff.phone_number}}" class="form-control">
              </div>
              <div class="form-group col-md-12">
                <label for="date_joined">Date Joined: </label>
                <input type="date" id="date_joined" name="date_joined" value="{{staff.date_joined}}" class="form-control">
              </div>
              <div class="col-12">
                <input type="hidden" id="user_id" name="user_id" value="{{ editUserId }}">
                <button class="btn btn-primary" type="submit" aria-label="submit button">Save</button>
              </div>
          </div>
        </div>
    </div>
</form>

 
{% endblock %}