{% extends "base_staff.html" %}
{% block content %}

<div class="dashboard">
    <br>
    <h2>Search House </h2>
    <br>
    <form id="search-house" class="row g-3" action="{{ url_for('staff_searchHouse') }}" method="POST">
      <div class="col-md-5">
        <input id="house_content" name="house_content" class="form-control" type="text" placeholder="Search By House ID/House Address/House Title"
          value="{{house_content}}">
      </div>
      <div class="col-1">
        <button class="btn btn-primary" type="submit" aria-label="submit button" name="search" value="Filter">Search</button>
      </div>
      <div class="col-1">
        <button class="btn btn-danger" type="submit" aria-label="reset button" name="reset"   
          id="reset">Reset</button>
      </div>
    </form>
    <br>
    <br>
  
  <!-- add House button -->
      <a href="{{ url_for('staff_addHouse') }}" class="btn btn-primary">Add House</a>

  <br>
  <br>
  <h5>Your Search Result</h5>
        {% if house_list|length==0   %}
           
         
        <div style="text-align:center">
          <img src="{{ url_for('static', filename='bground/no-results.png') }}" alt="no results" width="150px" height="150px">
          <br><br><br>
          <h3>No Results</h3>
          <p>Try using another name to broaden your search</p>
        </div>
       
        {% else %}
           

        <table class="table table-striped table-hover table-fit">
          <thead>
            <tr>
               <td>House ID</td>
               <td>House Address</td>
               <td>Bedrooms</td>
               <td>Bathrooms</td>
               <td>Maximum Occupancy</td>
               <td>Rental Per Night</td>
               <td>House Image</td>
               <td>House Title</td>
               <td>House Description</td>
               <td> </td>
               <td> </td>
            </tr>
          </thead>
          <tbody>
            {% for row in house_list %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>

                    {% endfor %}

                    <td>   
                        <button class="btn btn-sm btn-outline-primary" type="submit" aria-label="edit button" name="edit"   
                        id="edit"><a href="{{ url_for('staff_editHouse', house_id=row[0]) }}">  Edit  </a></button>
                    </td>
                    
                    <td>   
                      <button class="btn btn-sm btn-outline-danger" type="submit" aria-label="delete button" name="delete"   
                      id="delete"><a href="{{ url_for('staff_deleteHouse', house_id=row[0]) }}">  Delete  </a></button>
                  </td>
                </tr>
     
            {% endfor %}
        </tbody>
        </table>
 
        {% endif %}
 
  </div>
      
 
  

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_account.css') }}">


{% endblock %}
