{% extends "base_staff.html" %}
{% block content %}


<form action="{{ url_for('staff_addHouse') }}" method="POST" class="col-md-6 mx-auto">
    {% if mesage is defined and mesage %}
    <div class="alert alert-warning">{{ mesage }}</div>
    {% endif %}	
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
            <a href="{{ url_for('staff_listHouse') }}" class="btn btn-success">Back</a>
        </div> 
        <div class="form-group col-md-12">
          <label for="h_address" class="form-label">House Address*: </label>
          <input type="text" class="form-control" id="h_address"  name="h_address" placeholder="House Address" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="bedroom_num" class="form-label">Bedrooms*: </label>
            <input type="number" class="form-control" min="0" max="50"  id="bedroom_num"  name="bedroom_num"  placeholder="Number of Bedrooms" required>
        </div>
        <br>
        <div class="form-group col-md-12">
        <label for="bathroom_num" class="form-label">Bathrooms*: </label>
        <input type="number" class="form-control" min="0" max="50" id="bathroom_num"  name="bathroom_num" placeholder="Number of Bathrooms" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="max_occupancy" class="form-label">Maximum Occupancy*: </label>
            <input type="number" class="form-control" min="0" max="120" id="max_occupancy" name="max_occupancy" placeholder="Maximum Occupancy" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="rental_per_night" class="form-label">Rental Per Night*: </label>
            <input type="text" class="form-control" id="rental_per_night"  name="rental_per_night" placeholder="Rental Per Night" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="house_image" class="form-label">House Image: </label>
            <input type="text" class="form-control" id="house_image"  name="house_image" placeholder="House Image Name" required>
        </div>
        <div class="form-group col-md-12">
            <label for="house_title" class="form-label">House Title: </label>
            <input type="text" class="form-control" id="house_title"  name="house_title" placeholder="House Title" >
        </div>
        <div class="form-group col-md-12">
            <label for="house_description" class="form-label">House Description: </label>
            <input type="text" class="form-control" id="house_description"  name="house_description" placeholder="House Description" >
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit" aria-label="submit button">Add House</button>
        </div>
         
      </div>
    </div>
  </div>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_account.css') }}">
{% endblock %}
