{% extends "base_admin.html" %}
{% block content %}




<form action="{{ url_for('admin_editCustomer')}}" method="POST" class="col-md-6 mx-auto">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <a href="{{ url_for('admin_listCustomer') }}" class="btn btn-success">Back</a>
            </div>
            <div class="form-group col-md-12">
              <label for="c_fName" class="form-label">First Name: </label>
              <input type="text" class="form-control" id="c_fName" value="{{ customer.c_fName }}" name="c_fName" placeholder="First Name">
            </div>
            <br>
            <div class="form-group col-md-12">
                <label for="c_Lname" class="form-label">Last Name: </label>
                <input type="text" class="form-control" max=45 id="c_Lname"  name="c_Lname" value="{{ customer.c_Lname }}"  >
            </div>
            <br>
            <div class="form-group col-md-12">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="Email" value="{{ customer.email }}" name="Email" placeholder="Email" disabled>
            <input type="hidden" class="form-control" id="email" value="{{ customer.email }}" name="email" placeholder="Email" >
            </div>
            <br>
            <div class="form-group col-md-12">
                <label for="phone" class="form-label">Phone Number: </label>
                <input type="tel" class="form-control" id="phone" value="{{ customer.phone_num }}" name="phone" placeholder="Phone Number">
            </div>
            <br>
            <div class="form-group col-md-12">
                <label for="address" class="form-label">Address: </label>
                <input type="text" class="form-control" id="address" value="{{ customer.address }}" name="address" placeholder="Address">
            </div>
            <br>
            <div class="col-12">
              <input  value="{{customer.customer_id}}"  type="hidden" id="customer_id" name="customer_id" > <br>
              <button class="btn btn-primary" type="submit" aria-label="submit button">Update</button>
            </div>
            
          </div>
        </div>
      </div>
</form>
  
{% endblock %}