{% extends "base_admin.html" %}
{% block content %}


 

<form action="{{ url_for('admin_addStaff') }}" method="POST" class="col-md-6 mx-auto">
    {% if mesage is defined and mesage %}
    <div class="alert alert-warning">{{ mesage }}</div>
    {% endif %}		
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
            <a href="{{ url_for('admin_listStaff') }}" class="btn btn-success">Back</a>
        </div>
        <div class="form-group col-md-12">
          <label for="s_fName" class="form-label">First Name*: </label>
          <input type="text" class="form-control" id="s_fName"  name="s_fName" placeholder="First Name" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="s_Lname" class="form-label">Last Name*: </label>
            <input type="text" class="form-control" max=45 id="s_Lname"  name="s_Lname"  placeholder="Last Name" required>
        </div>
        <br>
        <div class="form-group col-md-12">
        <label for="email" class="form-label">Email*: </label>
         
        <input type="email" class="form-control" id="email"  name="email" placeholder="Email" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="phone" class="form-label">Phone Number*: </label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
        </div>
        <br>
        <div class="form-group col-md-12">
            <label for="date" class="form-label">Date Joined*: </label>
            <input type="date" class="form-control" id="date_joined"  name="date_joined" placeholder="Date Joined" required>
        </div>
        <br>
        <div class="col-12">
          <button class="btn btn-primary" type="submit" aria-label="submit button">Add Staff</button>
        </div>
         
      </div>
    </div>
  </div>
</form>
  
{% endblock %}