{% extends "base_admin.html" %}
{% block content %}




<form action="{{ url_for('admin_deleteStaff') }}" method="POST" class="col-md-6 mx-auto"> 
   
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
                <a href="{{ url_for('admin_listStaff') }}" class="btn btn-success">Back</a>
            </div>
            <div class="form-group col-md-12">
                <div  class="form-label">Staff ID: {{staff.staff_id}}</div>  
              </div>
            <div class="form-group col-md-12">
              <div  class="form-label">First Name: {{staff.s_fName}}</div>  
            </div>
            <br>
            <div class="form-group col-md-12">
                <div  class="form-label">Last Name: {{staff.s_Lname}}</div>
                 
            </div>
            <br>
            <div class="form-group col-md-12">
                <div  class="form-label">Email: {{staff.email}}</div>
       
            </div>
            <br>
            <div class="form-group col-md-12">
                <div  class="form-label">Phone Number: {{staff.phone_number}}</div>
           
            </div>
            <br>
            <div class="form-group col-md-12">
                <div  class="form-label">Address: {{staff.date_joined}}</div>
            </div>

            <br>
            <div class="col-12">
              <input type="hidden" class="form-control" id="staff_id" value="{{ staff.staff_id }}" name="staff_id" > 
              <button class="btn btn-primary" type="submit" aria-label="submit button">Delete</button>
            </div>
 
          </div>
        </div>
      </div>
</form>
  
{% endblock %}