{% extends "base_customer.html" %}
{% block content %}

<div class="container" class="col-md-10 mx-auto">
	<h2>User Registration</h2>
	<form action="{{ url_for('register') }}" method="POST">
				{% if message is defined and message %}
					<div class="alert alert-warning">{{ message }}</div>
				{% endif %}
				<div class="row" >
						<div class="col-4">
							<label for="inputFname">Name*</label>
							<input type="text" class="form-control" id="inputFname" name="Fname" required>
							<small id="inputFname" class="text-muted">
								First Name*
							</small>
						</div>
						<div class="col-4">
							<label for="inputLname"></label>
							<input type="text" class="form-control" id="inputLname" name="Lname" required>
							<small id="inputLname" class="text-muted">
								Last Name*
							</small>
						</div>
				</div>

				<br>
				<div class="row" >
					<div class="col-4">
						<label for="inputemail">Email*</label>
						<input type="email" class="form-control" id="inputemail" name="email" required>
						<small id="inputemail" class="text-muted">
							Enter Email*
						</small>
					</div>
					<div class="col-4">
						<label for="inputemail"></label>
						<input type="email" class="form-control" id="inputemail" name="confirm_email" required>
						<small id="inputemail" class="text-muted">
							Comfirm Email*
						</small>
					</div>
				</div>
				<br>
				<div class="row" >
					<div class="col-4">
						<label for="input_username">Username*</label>
						<input type="text" class="form-control" id="input_username" name="username" required>
					</div>
				</div>

				<br>
				<div class="row" >
					<div class="col-4">
						<label for="inputPass">Password*</label>
						<input type="password" class="form-control" id="inputPass" name="password" required>
						<small id="inputPass" class="text-muted">
							Enter Password*
						</small>
					</div>
					<div class="col-4">
						<label for="inputconfirmPass"></label>
						<input type="password" class="form-control" id="inputconfirmPass" name="confirm_password"required>
						<small id="inputconfirmPass" class="text-muted">
							Comfirm Password*
						</small>
					</div>
				</div>
				<br>
				<div class="row" >
					<div class="col-6">
						<label for="input_phone">Phone Number</label>
						<input type="tel" class="form-control" id="input_phone" name="phone" >
					</div>
				</div>	
				<br>
				<div class="row" >
					<div class="col-6">
						<label for="input_address">Address</label>
						<input type="text" class="form-control" id="input_address" name="address" >
					</div>
				</div>	

				<br>
				<button type="submit" class="btn btn-primary">Register</button>
				<p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
	</form>
	<br>
	<br>
</div>    




{% endblock %}