{% extends "base_customer.html" %}
{% block content %}

<div class="container">
	<div class="row">
    <div class="col-9">  </div>
	  <div class="col-3">Choose your home | <a href="{{ url_for('login') }}">Login</a></div>
	</div>
</div>

<br><br>	




<div class="detailsH">


    <div class="house-details">
        <div class="btn btn-light">
            <a href="{{ url_for('home')}}" >Back</a>
        </div>
        <div>
        <img src="{{ url_for('static', filename='houseImage/' + houses['house_image']) }}" class="House-Image" alt="House Image">
        <h2 >{{ houses.house_title}}</h2>
        <p><strong>Location:</strong>{{houses.h_address}}</p>
        <p><strong>Price:</strong> ${{houses.rental_per_night}} per night</p> 
        <p><strong>Bedrooms:</strong> {{houses.bedroom_num}}</p>
        <p><strong>Bathrooms:</strong>{{houses.bathroom_num}}</p>
        <p><strong>Description:</strong>{{ houses.house_description}}</p>
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/customer_account.css') }}">

{% endblock %}