{% extends "base_customer.html" %}
{% block content %}

<!-- this is displayed on the right-top of the page: "Hello, user"-->
<div class="container">
    <div class="row">
		<div class="col-9">  </div>
        <div class="col-3">Hello, <strong>{{ user.username }}</strong> | <a href="{{ url_for('customer_account') }}" class="btn btn-secondary btn-lg active btn-sm">Account</a></div>
    </div>
</div>
<br><br>	



<!-- this is the heading on the top of images -->
<div class="container">
  <div class="row">
    <h4>Find your home that suits your holiday</h4>
  </div>
</div>



<!-- Images are displayed three in a row with simple caption below. -->
<div class="container">
  <div class="row">
      {% for house in houses %}
          <div class="col-sm-4">
              <figure class="figure">  
                 <!-- user click an image and it will direct user to the relative house and view more info -->
                  <a href="{{ url_for('house_details', house_id=house['house_id']) }}">  
                      <img src="{{ url_for('static', filename='houseImage/' + house['house_image']) }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                  </a>
                  <!-- This is the caption below every image -->
                  <figcaption class="figure-caption">
                      {{ house.h_address }}
                      <br>
                      Sleeps {{ house.max_occupancy }} | {{ house.bedroom_num }} bedrooms | {{ house.bathroom_num }} bathrooms   
                  </figcaption>
              </figure>
          </div>
      {% endfor %}
  </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/customer_account.css') }}">
{% endblock %}